node_modules

# Yarn v2, Zero-Installs.
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VS Code
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log